@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin TextStyle {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}
@mixin Centering($top) {
    position: absolute;
    top:$top ;
    left: 50%;
    transform: translate(-50%,-50%);
}
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: $color-dark;
}