@mixin flexLayout {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin textStyles {
  font-weight: 300;
  letter-spacing: 2px;
}

@mixin centering($topValue) {
  position: absolute;
  top: $topValue;
  left: 50%;
  transform: translate(-50%, -50%);
}

%fullspace {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: Nastaliq;
  font-weight: normal;
  src: url($font-loc + "/IranNastaliq.ttf");
}
@font-face {
  font-family: Sahel;
  font-weight: normal;
  src: url($font-loc + "/Sahel.eot");
  src: url($font-loc + "/Sahel.eot");
  src: url($font-loc + "/Sahel.ttf") format("ttf"),
    url($font-loc + "/Sahel.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: $color-dark;
}
