.hamburger-menu {
  width: 40px;
  height: 40px;
  position: fixed;
  top: 10%;
  right: 5%;
  z-index: 300;
  .menu {
    @extend %fullspace;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &-line {
      width: 100%;
      height: 4px;
      background-color: $color-primary;
      transform-origin: right;
    }
  }
}

.logo {
  @include flexLayout;
  font-size: 70px;
  color: $color-primary;
  width: 110px;
  height: 110px;
  margin-right: 20px;
  border: 3px solid $color-primary;
  border-radius: 50%;
}

.main-name {
  font-family: $font-Nastaliq;
  font-size: 50px;
  color: $color-secndary;
  @include textStyles;
}

.sub-name {
  font-family: $font-Sahel;
  font-size: 18px;
  color: $color-secndary;
  text-align: center;
  @include textStyles;
}

.main-heading {
  font-family: $font-Nastaliq;
  font-size: 100px;
  font-weight: 300;
  margin-top: 40px;
  color: $color-primary;
  margin-bottom: 40px;
}

.sub-heading {
  font-family: $font-Sahel;
  font-size: 60px;
  font-weight: 300;
  color: $color-secndary;
  margin-bottom: 80px;
}

.main-btn {
  width: 170px;
  height: 45px;
  font-family: $font-Nastaliq;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $color-primary;
  background-color: transparent;
  border: 1px solid $color-primary;
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    background-color: $color-primary;
    color: $color-dark;
  }
}

.card {
  width: 33.3333%;
  height: 30vw;
  position: relative;
  overflow: hidden;
  &:hover .card-overlay {
    left: 0;
  }
  &-overlay {
    @extend %fullspace;
    @include flexLayout;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: -100%;
    color: $color-white;
    background-color: rgba($color: $color-primary, $alpha: 0.7);
    z-index: 10;
    transition: left 0.5s;
    &-heading {
      font-family: $font-Nastaliq;
      @include textStyles;
      font-size: 50px;
    }
    &-paragraph {
      font-family: $font-Sahel;
      @include textStyles;
      font-size: 30px;
      margin-bottom: 30px;
    }
    &-btn {
      width: 150px;
      height: 40px;
      color: $color-primary;
      background-color: $color-white;
      font-family: $font-Sahel;
      font-size: 14px;
      border: 1px solid $color-primary;
      border-radius: 30px;
      outline: none;
      cursor: pointer;
    }
  }
  &-img {
    @extend %fullspace;
    object-fit: cover;
    opacity: 0.7;
  }
}
