.logo {
  @include flexLayout;
  font-size: 70px;
  color: $color-primary;
  width: 110px;
  height: 110px;
  margin-right: 20px;
  border: 3px solid $color-primary;
  border-radius: 50%;
}

.main-name{
    font-family: $font-Nastaliq;
    font-size: 50px;
    color: $color-secndary;
    @include textStyles;
}

.sub-name {
    font-family: $font-Sahel;
    font-size: 18px;
    color: $color-secndary;
    text-align: center;
    @include textStyles;
}

.main-heading{
    font-family: $font-Nastaliq;
    font-size: 100px;
    font-weight: 300;
    margin-top: 40px;
    color: $color-primary;
    margin-bottom: 40px;
}

.sub-heading{
    font-family: $font-Sahel;
    font-size: 60px;
    font-weight: 300;
    color: $color-secndary;
    margin-bottom: 80px;
}

.main-btn {
    width: 170px;
    height: 45px;
    font-family: $font-Nastaliq;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color-primary;
    background-color: transparent;
    border: 1px solid $color-primary;
    cursor: pointer;
    transition: all .4s;

    &:hover{
        background-color: $color-primary;
        color: $color-dark;
    }
}
