.navbar {
  position: relative;
  z-index: 230;
  &-navigation {
    display: flex;

    &-left {
      width: 50vw;
      height: 100vh;
      background-color: $color-dark;
      position: fixed;
      left: -50vw;
      transition: left 0.8s cubic-bezier(1, 0, 0, 1);
      .left-img {
        width: 300px;
        position: absolute;
        box-shadow: 0 40px 60px rgba($color: $color-black, $alpha: 0.4);
        opacity: 0.7;
        border-radius: 20px;
      }
      .left-img-1 {
        top: 15%;
        left: 15%;
      }
      .left-img-2 {
        top: 35%;
        left: 25%;
      }
      .left-img-3 {
        top: 55%;
        left: 35%;
      }
    }
    &-right {
      width: 50vw;
      height: 100vh;
      background-color: #1f1d1d;
      position: fixed;
      right: -50vw;
      @include flexLayout;
      transition: right 0.8s cubic-bezier(1, 0, 0, 1);
    }
    .nav-list {
      &-item {
        list-style: none;
      }
      &-link {
        font-family: $font-Sahel;
        font-size: 40px;
        @include textStyles;
        color: $color-secndary;
        text-decoration: none;
        display: block;
        margin: 20px;
        text-align: center;
        transition: all 0.5s;

        &:hover {
          color: $color-primary;
          letter-spacing: 10px;
        }
      }
    }
  }
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
  transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  transform: rotateZ(40deg);
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba($color-dark, 0.8), rgba($color-black, 0.6)),
    url($image-loc + "/bg.jpeg") center no-repeat;
  background-size: cover;

  .brand {
    @include centering(15%);
    display: flex;
    align-items: center;
  }

  &-banner {
    text-align: center;
    @include centering(50%);
  }
}

.about-us {
  height: 90vh;
  display: flex;
  align-items: center;
  &-left {
    width: 40%;
    img {
      width: 100%;
      opacity: 0.7;
    }
  }
  &-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 80px;
    box-sizing: border-box;
    @media (max-width: 1600px) {
      padding: 0 60px;
    }
    .main-heading {
      font-size: 40px;
      margin-top: 15px;
      @media (max-width: 1600px) {
        font-size: 30px;
      }
      @media (max-width: 1000px) {
        font-size: 20px;
      }
    }
    .sub-heading {
      font-size: 25px;
      @media (max-width: 1600px) {
        font-size: 25px;
        margin-bottom: 50px;
      }

      @media (max-width: 1300px) {
        font-size: 10px;
        margin-bottom: 30px;
      }
      @media (max-width: 1000px) {
        font-size: 5px;
        margin-bottom: 15px;
      }
    }
    .stars {
      margin: 15px 0;
    }
    .star {
      font-size: 25px;
      margin-left: 8px;
      color: $color-primary;
    }
    .description {
      font-family: $font-Nastaliq;
      font-size: 23px;
      direction: rtl;
      color: $color-secndary;
      text-align: justify;
      &::first-letter {
        padding-right: 25px;
      }
      @media (max-width: 1600px) {
        font-size: 20px;
      }
    }
  }
}

.gallery {
  .cards-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer {
  padding: 70px 0;
  @include flexLayout;
  flex-direction: column;
  &-header {
    display: flex;
    align-items: center;
    padding: 70px;
  }
  .social-media {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-bottom: 60px;
    &-item {
      list-style: none;
    }

    &-link {
      text-decoration: none;
      color: $color-secndary;
      font-size: 50px;
      transition: color 0.7s;
      &:hover {
        color: $color-primary;
      }
    }
  }

  &-copyright-paragraph {
    font-family: $font-Nastaliq;
    font-size: 20px;
    color: $color-primary;
    direction: rtl;
  }
}
