.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba($color-dark, 0.8), rgba($color-black, 0.6)), url($image-loc+"/bg.jpeg") center no-repeat;
  background-size: cover;

  .brand {
    @include centering(15%);
    display: flex;
    align-items: center;
  }

  &-banner {
      text-align: center;
    @include centering(50%);
  }
}