$color-dark : #262626;
$color-black : #000;
$color-primary : #d3ab55;
$color-secndary:#bbb;
$color-white:#fff;
$font-DanscingScript : 'Dancing Script',cursive;
$font-loc:"/src/Restaurant SPA/fonts";
$font-Nastaliq:Nastaliq,Tahoma;
$font-Sahel:Sahel,Tahoma;
$font-JosefinSans:'Josefin Sans',sans-serif;
$font-Nunito:'Nunito',sans-serif;
$image-loc : "/src/Restaurant SPA/images";