$color-dark : #262626;
$color-black : #000;
$color-primary : #d3ab55;
$color-secndary:#bbb;
$font-DanscingScript : 'Dancing Script',cursive;
$font-JosefinSans:'Josefin Sans',sans-serif;
$font-Nunito:'Nunito',sans-serif;
$image-loc : "/src/Restaurant SPA/images";